{% extends 'my_apps/base.html' %}
{% load static %}
{% block meta %}
<meta name="description" content="">
<meta name="author" content="">
<title>{{ site_title }}</title>
{% endblock %}
{% block bodyclass %}
channel channel-mypage
{% endblock %}
{% block content %}

<!-- channel -->
<div class="container-fluid">
    <div class="row">
        <div class="img">
            <div class="cover-image">
                 {% if user.profile.image_cover %}
                <img src="{{ user.profile.image_cover.cover.url }}" alt="" class="c-banner">
                {% else %}
                <img src="https://www.transparenttextures.com/patterns/diagmonds-light.png" alt="" class="c-banner">
                {% endif %}
            </div>
            <div class="c-avatar">
                {% if user.profile.image_profile %}
               <img src="{{ user.profile.image_profile.medium.url }}" alt="">
                {% else %}
               <i class="material-icons d4-color">account_circle</i>
                {% endif %}
            </div>
            <a href="#" class="add"><i class="cv cvicon-cv-plus"></i></a>
            <div class="c-social hidden-xs">
                Social
                <a href="#" class="fb"><i class="fa fa-facebook"></i></a>
                <a href="#" class="tw"><i class="fa fa-twitter"></i></a>
                <a href="#" class="gp"><i class="fa fa-google-plus"></i></a>
            </div>
        </div>
    </div>
</div>
<!-- ///channel -->


<div class="content-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">

                <div class="channel-details">
                    <div class="row">
                        <div class="col-lg-10 col-lg-offset-2 col-xs-12">
                            <div class="c-details">
                                <div class="c-name d1-color font-weight">
                                    {{ profile.user_name }}
                                </div>


                                <div class="c-nav">
                                    <ul class="list-inline hidden-xs d2-color">
                                        <li class="active"><a href="#channel-tabsA" data-toggle="tab">生産者情報</a></li>
                                        <li><a href="#channel-tabsB" data-toggle="tab">販売商品</a></li>
                                        <li><a href="#channel-tabsC" data-toggle="tab">概要</a></li>
                                    </ul>

                                    <div class="btn-group dropdown pull-right">
                                        <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                             <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a href="#channel-tabsA" data-toggle="tab">生産者情報</a></li>
                                            <li><a href="#channel-tabsB" data-toggle="tab">販売商品</a></li>
                                            <li><a href="#channel-tabsC" data-toggle="tab">概要</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="c-sub pull-right">
                                    <div class="c-sub-wrap">
                                        <div class="c-f">
                                            フォロー
                                        </div>
                                        <div class="c-s">
                                            145
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Featured Videos -->
                <div class="content-block">
                    <!-- タブ内容 -->
                    <div class="tab-content">
                        <div class="tab-pane active" id="channel-tabsA">
                            <div class="cb-content videolist">
                                <div class="row">
                                    <div class="cover">
                                         <h2 class="text-center mb-40">
                                            生産者紹介
                                        </h2>
                                        <img src="http://placehold.jp/1920x720.png">
                                    </div>
                                    <div class="channel-contents">

                                        <p>
                                            {{ profile.user_text }}
                                        </p>
                                    </div>
                                    <div class="cover mt-40">
                                         <h2 class="text-center mb-40">
                                            こだわり
                                         </h2>
                                        <div class="col-sm-6">
                                            <img src="http://placehold.jp/1280x800.png">
                                        </div>
                                         <div class="col-sm-6">
                                            <img src="http://placehold.jp/1280x800.png">
                                        </div>
                                    </div>
                                    <div class="col-sm-12 channel-contents">

                                        <p>
                                            {{ profile.user_text }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="channel-tabsB">
                            <div class="cb-content videolist">
                                <div class="row">
                                    {% for service in service_list|slice:"1:3" %}
                                    <div class="col-lg-3 col-sm-6 videoitem">
                                        <div class="b-video">
                                            <div class="v-img">
                                                <a href="{% url 'my_apps:service_detail' service.pk %}">
                                                    {% if service.image01.medium.url %}
                                                      <img class="card-img-top" src="{{ service.image01.medium.url }}" alt="{{ user.profile.user_name }}農家さんの{{ service.category }}｜農業マッチングNotech(ノーテック)">
                                                    {% else %}
                                                      <img src="/media/service/no-image.medium.png">
                                                    {% endif %}
                                                </a>
                                                <div class="time">
                                                    <a href="{% url 'my_apps:index' %}">
                                                         <i class="material-icons">bookmark_border</i>{{ service.category }}
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="v-desc">
                                                <a href="{% url 'my_apps:service_detail' service.pk %" class="d1-color font-weight">{{ service.title }}</a>
                                            </div>
                                            <div class="v-views">
                                                ¥{{ service.amount }}/{{ service.unit }} <span class="v-percent"><span class="v-circle"></span> 78%</span>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}

                                    {% for service in service_list|slice:":3" %}
                                    <div class="col-lg-3 col-sm-3 videoitem">
                                        <div class="b-video">
                                            <div class="v-img">
                                                <a href="{% url 'my_apps:service_detail' service.pk %}">
                                                    {% if service.image01.medium.url %}
                                                      <img class="card-img-top" src="{{ service.image01.medium.url }}" alt="{{ user.profile.user_name }}農家さんの{{ service.category }}｜農業マッチングNotech(ノーテック)">
                                                    {% else %}
                                                      <img src="/media/service/no-image.medium.png">
                                                    {% endif %}
                                                </a>
                                                <div class="time">
                                                    <a href="{% url 'my_apps:index' %}">
                                                         <i class="material-icons">bookmark_border</i>{{ service.category }}
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="v-desc">
                                                <a href="{% url 'my_apps:service_detail' service.pk %" class="d1-color font-weight">{{ service.title }}</a>
                                            </div>
                                            <div class="v-views">
                                               ¥ {{ service.amount }}/{{ service.unit }} <span class="v-percent"><span class="v-circle"></span> 78%</span>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="channel-tabsC">
                           <table class="channel-table">
                              <tr>
                                <th>販売者名</th>
                                <td>{{ service.user.profile.user_name }}</td>
                              </tr>
                              <tr>
                                <th>生産地</th>
                                <td>{{ service.user.profile.derivary_date }}</td>
                              </tr>
                              <tr>
                                <th>取扱品種</th>
                                <td>トマト</td>
                              </tr>
                            </table>
                                <a href="#" class="btn btn-def">
                                    <div>
                                    生産者に問い合わせる
                                    </div>
                                </a>

                        </div>
                    </div>
                    <!-- Featured Videos -->
                </div>


            </div>
        </div>
    </div>
</div>

{% endblock %}
