{% extends 'my_apps/base.html' %}
{% load static %}
{% block meta %}
<meta name="description" content="">
<meta name="author" content="">
<title>{{ site_title }}</title>
{% endblock %}
{% block bodyclass %}
channels
{% endblock %}
{% block content %}
<div class="content-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 channels">

                <!-- Popular Channels -->
                <div class="content-block">
                    <div class="cb-header mb-0">
                        <div class="row">
                            <div class="col-lg-8 col-sm-8 col-xs-10">
                                <ul class="list-inline">
                                    <li><a href="#" class="color-active">Browse All Channels</a></li>
                                    <li class="hidden-xs"><a href="#">Most Popular</a></li>
                                    <li><a href="#">Trending</a></li>
                                    <li class="hidden-xs"><a href="#">Most Recent</a></li>
                                    <li class="hidden-xs"><a href="#">A - Z</a></li>
                                </ul>
                            </div>
                            <div class="col-lg-4 col-sm-4 col-xs-2">
                                <div class="cb-search channels-search">
                                    <form action="#">
                                        <label>
                                            <input type="search" placeholder="Search Channels ..." />
                                            <i class="fa fa-search"></i>
                                        </label>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="channels-content">
                        <div class="hidden-xs">
                            <h4>Most Popular</h4>
                            <a href="#" class="btn-view-more">View more</a>
                        </div>
                        <div class="clearfix"></div>
                        <div class="theme-section">
                            <div class="row">
                                <div class="col-md-3 col-sm-4">
                                    <div class="cns-block">
                                        <a href="#" class="cns-image">
                                            <img src="images/video2-8.png" alt="image">
                                        </a>
                                        <div class="cns-img-small">
                                            <div class="cns-small-wrapp">
                                                <img src="images/ava5.png" alt="small">
                                            </div>
                                        </div>
                                        <div class="cns-info">
                                            <h5>Grainz<I class="arrow"></I></h5>
                                            <span>27,548 Subscribers</span>
                                            <span>615 Videos</span>
                                            <span>10 Million Views</span>
                                            <span class="cv-percent">
                                                <span class="cv-circle"></span> 
                                            78%</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-4">
                                    <div class="cns-block">
                                        <a href="#" class="cns-image">
                                            <img src="images/video2-7.png" alt="image">
                                        </a>
                                        <div class="cns-img-small">
                                            <div class="cns-small-wrapp">
                                                <img src="images/ava2.png" alt="small">
                                            </div>
                                        </div>
                                        <div class="cns-info">
                                            <h5>Adaptable</h5>
                                            <span>52,217 Subscribers</span>
                                            <span>275 Videos</span>
                                            <span>21 Million Views</span>
                                            <span class="cv-percent">
                                                <span class="cv-circle"></span> 
                                            98%</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-4">
                                    <div class="cns-block">
                                        <a href="#" class="cns-image">
                                            <img src="images/video2-5.png" alt="image">
                                        </a>
                                        <div class="cns-img-small">
                                            <div class="cns-small-wrapp">
                                                <img src="images/ava3.png" alt="small">
                                            </div>
                                        </div>
                                        <div class="cns-info">
                                            <h5>Immense</h5>
                                            <span>66,007 Subscribers</span>
                                            <span>34 Videos</span>
                                            <span>20 Million Views</span>
                                            <span class="cv-percent">
                                                <span class="cv-circle"></span> 
                                            73%</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-4">
                                    <div class="cns-block">
                                        <a href="#" class="cns-image">
                                            <img src="images/video2-2.png" alt="image">
                                        </a>
                                        <div class="cns-img-small">
                                            <div class="cns-small-wrapp">
                                                <img src="images/ava4.png" alt="small">
                                            </div>
                                        </div>
                                        <div class="cns-info">
                                            <h5>Kittens<I class="arrow"></I></h5>
                                            <span>136,601 Subscribers</span>
                                            <span>880 Videos</span>
                                            <span>64 Million Views</span>
                                            <span class="cv-percent">
                                                <span class="cv-circle"></span> 
                                            94%</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-4">
                                    <div class="cns-block">
                                        <a href="#" class="cns-image">
                                            <img src="images/video1-8.png" alt="image">
                                        </a>
                                        <div class="cns-img-small">
                                            <div class="cns-small-wrapp">
                                                <img src="images/ava6.png" alt="small">
                                            </div>
                                        </div>
                                        <div class="cns-info">
                                            <h5>Shoe</h5>
                                            <span>72,870 Subscribers</span>
                                            <span>147 Videos</span>
                                            <span>9 Million Views</span>
                                            <span class="cv-percent">
                                                <span class="cv-circle"></span> 
                                            92%</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-4">
                                    <div class="cns-block">
                                        <a href="#" class="cns-image">
                                            <img src="images/video1-7.png" alt="image">
                                        </a>
                                        <div class="cns-img-small">
                                            <div class="cns-small-wrapp">
                                                <img src="images/ava7.png" alt="small">
                                            </div>
                                        </div>
                                        <div class="cns-info">
                                            <h5>Pink</h5>
                                            <span>49,462 Subscribers</span>
                                            <span>260 Videos</span>
                                            <span>25 Million Views</span>
                                            <span class="cv-percent">
                                                <span class="cv-circle"></span> 
                                            79%</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-4">
                                    <div class="cns-block">
                                        <a href="#" class="cns-image">
                                            <img src="images/video1-6.png" alt="image">
                                        </a>
                                        <div class="cns-img-small">
                                            <div class="cns-small-wrapp">
                                                <img src="images/ava8.png" alt="small">
                                            </div>
                                        </div>
                                        <div class="cns-info">
                                            <h5>teeny-tiny<I class="arrow"></I></h5>
                                            <span>98,599 Subscribers</span>
                                            <span>45 Videos</span>
                                            <span>6 Million Views</span>
                                            <span class="cv-percent">
                                                <span class="cv-circle"></span> 
                                            87%</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-4">
                                    <div class="cns-block">
                                        <a href="#" class="cns-image">
                                            <img src="images/video1-2.png" alt="image">
                                        </a>
                                        <div class="cns-img-small">
                                            <div class="cns-small-wrapp">
                                                <img src="images/ava9.png" alt="small">
                                            </div>
                                        </div>
                                        <div class="cns-info">
                                            <h5>Intelligent</h5>
                                            <span>74,548 Subscribers</span>
                                            <span>49 Videos</span>
                                            <span>3 Million Views</span>
                                            <span class="cv-percent">
                                                <span class="cv-circle"></span> 
                                            68%</span>
                                        </div>
                                    </div>
                                </div>  
                            </div>
                        </div>
                        <h4>Trending</h4>
                        <a href="#" class="btn-view-more">View more</a>
                        <div class="clearfix"></div>
                        <div class="theme-section">
                            <div class="row">
                                <div class="col-md-3 col-sm-4">
                                    <div class="cns-block">
                                        <a href="#" class="cns-image">
                                            <img src="images/video2-7.png" alt="image">
                                        </a>
                                        <div class="cns-img-small">
                                            <div class="cns-small-wrapp">
                                                <img src="images/ava10.png" alt="small">
                                            </div>
                                        </div>
                                        <div class="cns-info">
                                            <h5>Woozy</h5>
                                            <span>109,127 Subscribers</span>
                                            <span>117 Videos</span>
                                            <span>43 Million Views</span>
                                            <span class="cv-percent">
                                                <span class="cv-circle"></span> 
                                            86%</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-4">
                                    <div class="cns-block">
                                        <a href="#" class="cns-image">
                                            <img src="images/playlist-3.png" alt="image">
                                        </a>
                                        <div class="cns-img-small">
                                            <div class="cns-small-wrapp">
                                                <img src="images/ava11.png" alt="small">
                                            </div>
                                        </div>
                                        <div class="cns-info">
                                            <h5>Laugh</h5>
                                            <span>53,517 Subscribers</span>
                                            <span>2,133 Videos</span>
                                            <span>76 Million Views</span>
                                            <span class="cv-percent">
                                                <span class="cv-circle"></span> 
                                            94%</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-4">
                                    <div class="cns-block">
                                        <a href="#" class="cns-image">
                                            <img src="images/chanel-6.png" alt="image">
                                        </a>
                                        <div class="cns-img-small">
                                            <div class="cns-small-wrapp">
                                                <img src="images/ava12.png" alt="small">
                                            </div>
                                        </div>
                                        <div class="cns-info">
                                            <h5>Breakable</h5>
                                            <span>65,937 Subscribers</span>
                                            <span>40 Videos</span>
                                            <span>13 Million Views</span>
                                            <span class="cv-percent">
                                                <span class="cv-circle"></span> 
                                            88%</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-4">
                                    <div class="cns-block">
                                        <a href="#" class="cns-image">
                                            <img src="images/sv-11.png" alt="image">
                                        </a>
                                        <div class="cns-img-small">
                                            <div class="cns-small-wrapp">
                                                <img src="images/ava1.png" alt="small">
                                            </div>
                                        </div>
                                        <div class="cns-info">
                                            <h5>Morning</h5>
                                            <span>54,099 Subscribers</span>
                                            <span>49 Videos</span>
                                            <span>26 Million Views</span>
                                            <span class="cv-percent">
                                                <span class="cv-circle"></span> 
                                            87%</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-4">
                                    <div class="cns-block">
                                        <a href="#" class="cns-image">
                                            <img src="images/video2-8.png" alt="image">
                                        </a>
                                        <div class="cns-img-small">
                                            <div class="cns-small-wrapp">
                                                <img src="images/ava2.png" alt="small">
                                            </div>
                                        </div>
                                        <div class="cns-info">
                                            <h5>Fire<I class="arrow"></I></h5>
                                            <span>52,810 Subscribers</span>
                                            <span>266 Videos</span>
                                            <span>10 Million Views</span>
                                            <span class="cv-percent">
                                                <span class="cv-circle"></span> 
                                            72%</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-4">
                                    <div class="cns-block">
                                        <a href="#" class="cns-image">
                                            <img src="images/sv-4.png" alt="image">
                                        </a>
                                        <div class="cns-img-small">
                                            <div class="cns-small-wrapp">
                                                <img src="images/ava3.png" alt="small">
                                            </div>
                                        </div>
                                        <div class="cns-info">
                                            <h5>Swanky<I class="arrow"></I></h5>
                                            <span>55,602 Subscribers</span>
                                            <span>36 Videos</span>
                                            <span>16 Million Views</span>
                                            <span class="cv-percent">
                                                <span class="cv-circle"></span> 
                                            78%</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-4">
                                    <div class="cns-block">
                                        <a href="#" class="cns-image">
                                            <img src="images/video2-1.png" alt="image">
                                        </a>
                                        <div class="cns-img-small">
                                            <div class="cns-small-wrapp">
                                                <img src="images/ava4.png" alt="small">
                                            </div>
                                        </div>
                                        <div class="cns-info">
                                            <h5>Miscreant</h5>
                                            <span>80,495 Subscribers</span>
                                            <span>71 Videos</span>
                                            <span>32 Million Views</span>
                                            <span class="cv-percent">
                                                <span class="cv-circle"></span> 
                                            81%</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-4">
                                    <div class="cns-block">
                                        <a href="#" class="cns-image">
                                            <img src="images/video2-2.png" alt="image">
                                        </a>
                                        <div class="cns-img-small">
                                            <div class="cns-small-wrapp">
                                                <img src="images/ava7.png" alt="small">
                                            </div>
                                        </div>
                                        <div class="cns-info">
                                            <h5>Woebegone</h5>
                                            <span>47,397 Subscribers</span>
                                            <span>380 Videos</span>
                                            <span>182 Million Views</span>
                                            <span class="cv-percent">
                                                <span class="cv-circle"></span> 
                                            99%</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h4>New Channels</h4>
                        <a href="#" class="btn-view-more">View more</a>
                        <div class="clearfix"></div>
                        <div class="theme-section">
                            <div class="row">
                                <div class="col-md-3 col-sm-4">
                                    <div class="cns-block">
                                        <a href="#" class="cns-image">
                                            <img src="images/video1-1.png" alt="image">
                                        </a>
                                        <div class="cns-img-small">
                                            <div class="cns-small-wrapp">
                                                <img src="images/ava11.png" alt="small">
                                            </div>
                                        </div>
                                        <div class="cns-info">
                                            <h5>Develop<I class="arrow"></I></h5>
                                            <span>66,007 Subscribers</span>
                                            <span>34 Videos</span>
                                            <span>22 Million Views</span>
                                            <span class="cv-percent">
                                                <span class="cv-circle"></span> 
                                            85%</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-4">
                                    <div class="cns-block">
                                        <a href="#" class="cns-image">
                                            <img src="images/video1-6.png" alt="image">
                                        </a>
                                        <div class="cns-img-small">
                                            <div class="cns-small-wrapp">
                                                <img src="images/ava12.png" alt="small">
                                            </div>
                                        </div>
                                        <div class="cns-info">
                                            <h5>Picture</h5>
                                            <span>80,495 Subscribers</span>
                                            <span>71 Videos</span>
                                            <span>36 Million Views</span>
                                            <span class="cv-percent">
                                                <span class="cv-circle"></span> 
                                            74%</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-4">
                                    <div class="cns-block">
                                        <a href="#" class="cns-image">
                                            <img src="images/sv-16.png" alt="image">
                                        </a>
                                        <div class="cns-img-small">
                                            <div class="cns-small-wrapp">
                                                <img src="images/ava6.png" alt="small">
                                            </div>
                                        </div>
                                        <div class="cns-info">
                                            <h5>Weather</h5>
                                            <span>47,367 Subscribers</span>
                                            <span>381 Videos</span>
                                            <span>42 Million Views</span>
                                            <span class="cv-percent">
                                                <span class="cv-circle"></span> 
                                            89%</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-4">
                                    <div class="cns-block">
                                        <a href="#" class="cns-image">
                                            <img src="images/video1-4.png" alt="image">
                                        </a>
                                        <div class="cns-img-small">
                                            <div class="cns-small-wrapp">
                                                <img src="images/ava8.png" alt="small">
                                            </div>
                                        </div>
                                        <div class="cns-info">
                                            <h5>Word</h5>
                                            <span>100,212 Subscribers</span>
                                            <span>496 Videos</span>
                                            <span>71 Million Views</span>
                                            <span class="cv-percent">
                                                <span class="cv-circle"></span> 
                                            93%</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="content-block head-div head-arrow">
                        <div class="head-arrow-icon">
                            <i class="cv cvicon-cv-next"></i>
                        </div>
                    </div>
                </div>
                <!-- /Popular Channels -->

            </div>
        </div>
    </div>
</div>

{% endblock %}
