

input:focus,
textarea:focus,
.hero__link:hover {
	border-color: #f9f9f9;
}
main#main {
    background: #f9f9f9;
}
.alert-success {
    background-color: #30dab8;
    border-color: #30dab8;
    color: #ffffff;
}
.alert-info {
    background-color:#ffc43d;
    border-color:#ffc43d;
    color: #fff;
}
.alert-danger,.alert-error {
    background-color: #ef476f;
    border-color: #ef476f;
    color: #ffffff;
}
.d1-color{
color:rgba(0,0,0,0.87);
}
.d2-color{
color:rgba(0,0,0,0.54);
}
.d3-color{
color:rgba(0,0,0,0.26);
}
.d4-color{
color:rgba(0,0,0,0.12);
}
.alt-color{
color:rgba(0,0,0,0.10);
}
.w1-color{
color: rgba(255,255,255,1.00);
}
.w2-color{
color: rgba(255,255,255,0.70);
}
.w3-color{
color: rgba(255,255,255,0.30);
}
.w4-color{
color: rgba(255,255,255,0.12);
}
.d1-bgcolor{
background-color:rgba(0,0,0,0.87);
}
.d2-bgcolor{
background-color:rgba(0,0,0,0.54);
}
.d3-bgcolor{
background-color:rgba(0,0,0,0.26);
}
.d4-bgcolor{
background-color:rgba(0,0,0,0.12);
}
.alt-bgcolor{
background-color:rgba(0,0,0,0.10);
}
.w1-bgcolor{
background-color: rgba(255,255,255,1.00);
}
.w2-bgcolor{
background-color: rgba(255,255,255,0.70);
}
.w3-bgcolor{
background-color: rgba(255,255,255,0.30);
}
.w4-bgcolor{
background-color: rgba(255,255,255,0.12);
}
.main-bgcolor{
background:#30DAB8;
}
.main-color{
color:#30DAB8;
}
.sub-bgcolor{
background:#FFCF56;
}